html body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
  overflow: hidden;
}

h1 {
  font-family: 'Space Mono', monospace;
  font-size: clamp(3rem, 10vw, 10rem);
  color: white;
  padding: 0rem clamp(1rem, 2vw, 3rem);
  border-radius: clamp(0.4rem, 0.75vw, 1rem);
}

h1:hover {
  background-color: white;
  color: black;
}

.text_move {
  animation: ease-in infinite, move 1.8s ease-in infinite;
}

@keyframes move {
  0% {
    transform: translate(0px, 0px);
  }
  40% {
    transform: translate(0px, -32px);
  }
  50% {
    transform: translate(0px, -32px);
  }
  60% {
    transform: translate(0px, -32px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
